*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
}
p{
	text-align: justify;
}

.link:hover {
    color: inherit;
}

.link{
    color: inherit;
    position:relative;
    text-decoration:none;
    display:inline-block;
}
.link:after {
  display:block;
  content: '';
  border-bottom: solid 3px;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
  transform-origin:100% 50%
}
.link:hover:after { 
  transform: scaleX(1);
  transform-origin:0 50%;
}

.navbar-brand, .display-4, h4{
	font-family: 'Pacifico', cursive;
}
.navbar{
	background-color: #370617;
}


#header{
	background-color: #370617;
}
.white-text{
	color: #f7f7f7;
}
.container-fluid{
	position: relative;
}

#customers{
	background-color: #CB997E;
}

#contact{
    background-color: #370617;
}

.contact-link{
    display: block;
}

.center-block {
   margin-left:auto;
   margin-right:auto;
   display:block;
}

#footer{
    background-color: #370617;
}


.custom-shape-divider-bottom-1625047842 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-bottom-1625047842 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}
.custom-shape-divider-bottom-1625047842 .shape-fill {
    fill: #FFFFFF;
}

.custom-shape-divider-bottom-1625149787 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1625149787 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 99px;
}

.custom-shape-divider-bottom-1625149787 .shape-fill {
    fill: #CB997E;
}